*{
    box-sizing: border-box;
    background: #F3F5FC;
}
header{
    margin-top: 20px;
}
.container{
    height: 450px;
}
.text-input{
    margin-top: 20px;
}
.importante{
    margin-left: 485px;
}
.text-input{
    border: #F3F5FC;
    text-align: center;
    width: 400px;
    height: 400px;
    outline: none;
}
.botones{
    margin-top: 40px;
    margin-left: 60px;
}
.btn-guardar,.btn-cancelar{
    text-align: center;
    width: 20%;
    padding: 10px 30px;
    border-radius: 24px;
    text-decoration: none;
    display:inline-block;
    justify-content: center;
    align-items: center;
    margin-left: -35px;
}
.btn-guardar{
    background: darkblue;
    color: #F3F5FC;
}
.btn-cancelar{
    background: lightblue;
    color: darkblue;
    margin-left: 20px;
}
footer{
    text-align: center;
    margin-top: 125px;
}
.git{
    width: 50px;
    border: 1px solid #F3F5FC;
}
.lin{
    width: 50px;
    border: 1px solid #F3F5FC;
}
.img-git{
    width: auto;
    height: 40px;
    border: 1px solid #F3F5FC;
}
.img-lin{
    width: auto;
    height: 40px;
    border: 1px solid #F3F5FC;
    margin-left: 20px;
}